@charset "UTF-8";
@import url('xeicon.min.css');

.popupWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popupWrap:after {
  position: relative;
  content: '';
}

.popupBox {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #444444;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #979797;
  border-radius: 8px;
}

.popupBox.style1 {
  width: 1500px;
  height: 800px;
}

.popupBox.style1 .popupBox__content {
  height: 665px;
  padding: 20px;
}

.popupBox.style2 {
  width: 1300px;
  height: 600px;
}

.popupBox.style2 .popupBox__content {
  height: 460px;
  padding: 20px;
}

.popupBox.style2 .resultCont {
  height: 270px;
}

.popupBox__top {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #222222;
}

.popupBox__top h3 {
  font-size: 18px;
  color: #bbbbbb;
  padding: 24px 0 0 20px;
}

.cursor-finger div {
  cursor: pointer;
}

.popupBox__top .popup__close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 12px;
  height: 12px;
  background: url(../images/popup_close.png) left top no-repeat;
}

.popupBox__top .popup__close2 {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 12px;
  height: 12px;
  background: url(../images/popup_close.png) left top no-repeat;
}


.popupBox__content>h4 {
  font-size: 16px;
}

.popupBox__content>h4 .result {
  margin-left: 5px;
  color: #777777;
}

.popupBox__bottom {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 20px;
  border-top: 1px solid #222222;
}

.popupBox__left {
  width: 50%;
  float: left;
  padding-right: 15px;
}

.popupBox__left .buildingname {
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 30px;
  font-weight: 900;
  border-left: 6px solid #f93e3e;
  color: #bbbbbb;
}

.popupBox__right {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 20px;
  border-left: 1px solid #222222;
}

.btnArea {
  position: relative;
  width: 100%;
}

.btnArea a[class^='btn'] {
  display: inline-block;
  min-width: 70px;
  height: 30px;
  padding: 0 10px;
  line-height: 29px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.btnArea a[class^='btn']+a[class^='btn'] {
  margin-left: 8px;
}

.btnArea .btn__basic {
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5a59), to(#4c4847));
  background: linear-gradient(180deg, #5b5a59 0%, #4c4847 100%);
  border: 1px solid #222222;
  color: #bbbbbb;
  font-size: 12px;
}

.btnArea .btn__basic:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f93e3e), to(#de2828));
  background: linear-gradient(180deg, #f93e3e 0%, #de2828 100%);
  color: #ffffff;
}

.btnArea.ar {
  text-align: right;
}

.btnArea.al {
  text-align: left;
}

.btnArea.js .fl {
  float: left;
}

.btnArea.js .fr {
  float: right;
}

.btnArea.js:after {
  content: '';
  display: block;
  clear: both;
}

.searchBox {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  border: 1px solid #222222;
  background: #333333;
  color: #979797;
  border-radius: 3px;
  /* ie 기본 화살표 없앰 */
}

.searchBox input {
  width: 100%;
  height: 100%;
  padding: 5px 30px 5px 20px;
  background: transparent;
  border: 0;
  color: #979797;
}

.searchBox input::-webkit-input-placeholder {
  color: #979797;
}

.searchBox input:-ms-input-placeholder {
  color: #979797;
}

.searchBox input::-ms-input-placeholder {
  color: #979797;
}

.searchBox input::placeholder {
  color: #979797;
}

.searchBox .search {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0px;
  width: 35px;
  height: 28px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 3px;
  border-left: 1px solid #222222;
  background: url(../images/popup_search.png) center 8px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#5b5a59), to(#4c4847));
  background: url(../images/popup_search.png) center 8px no-repeat, linear-gradient(180deg, #5b5a59 0%, #4c4847 100%);
}

.searchBox .search:hover {
  background: url(../images/popup_search_hover.png) center 8px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f93e3e), to(#de2828));
  background: url(../images/popup_search_hover.png) center 8px no-repeat, linear-gradient(180deg, #f93e3e 0%, #de2828 100%);
}

.searchBox select {
  width: 100%;
  min-width: 120px;
  height: 30px;
  margin: 0;
  padding: 5px 25px 6px 10px;
  border: none;
  background: url(../images/select_bg.gif) 100% 50% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  word-wrap: break-word;
  z-index: 10;
  color: #777777;
}

.searchBox select::-ms-expand {
  display: none;
}

.resultWrap {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #222222;
}

.resultWrap .resultCont {
  height: 455px;
  background: #222222;
}

.pageNation {
  height: 50px;
  padding: 10px;
  text-align: right;
  border-top: 1px solid #222222;
}

.pageNation ul {
  display: inline-block;
}

.pageNation ul li {
  float: left;
  width: 35px;
  height: 30px;
  line-height: 29px;
  text-align: center;
}

.pageNation ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #222222;
  border-right: 0;
  color: #bbbbbb;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5a59), to(#4c4847));
  background: linear-gradient(180deg, #5b5a59 0%, #4c4847 100%);
}

.pageNation ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#4c4847));
  background: linear-gradient(180deg, #3a3a3a 0%, #4c4847 100%);
}

.pageNation ul li a.prev {
  background: url(../images/page_prev.png) center 8px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#5b5a59), to(#4c4847));
  background: url(../images/page_prev.png) center 8px no-repeat, linear-gradient(180deg, #5b5a59 0%, #4c4847 100%);
}

.pageNation ul li a.prev:hover {
  background: url(../images/page_prev.png) center 8px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#4c4847));
  background: url(../images/page_prev.png) center 8px no-repeat, linear-gradient(180deg, #3a3a3a 0%, #4c4847 100%);
}

.pageNation ul li a.next {
  background: url(../images/page_next.png) center 8px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#5b5a59), to(#4c4847));
  background: url(../images/page_next.png) center 8px no-repeat, linear-gradient(180deg, #5b5a59 0%, #4c4847 100%);
}

.pageNation ul li a.next:hover {
  background: url(../images/page_next.png) center 8px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#4c4847));
  background: url(../images/page_next.png) center 8px no-repeat, linear-gradient(180deg, #3a3a3a 0%, #4c4847 100%);
}

.pageNation ul li:first-child a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pageNation ul li:last-child a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #222222;
}

.pageNation ul li.active a {
  background: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#4c4847));
  background: linear-gradient(180deg, #3a3a3a 0%, #4c4847 100%);
}

.divTable {
  display: table;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

.divTable .checkcell {
  width: 20px;
}

.divTable .theader {
  display: table-row;
}

.divTable .theader .table_header {
  display: table-cell;
  border-bottom: 1px solid #222222;
  font-size: 15px;
  color: #979797;
  padding: 8px 10px;
  font-weight: normal;
  background: #333333;
}

.divTable .table_row {
  display: table-row;
}

.divTable .table_row .table_cell {
  display: table-cell;
  padding: 8px 10px;
  border-bottom: 1px solid #222222;
  background: #444444;
  font-weight: 300;
  color: #979797;
}

.divTable .table_row:hover .table_cell {
  background: #555555;
}

.divTable span[class^='gi_'] {
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  border-radius: 2px;
  letter-spacing: -1px;
}

.divTable .gi_sobang {
  background: #49cc90;
}

.divTable .gi_gookto {
  background: #fca130;
}

.divTable .gi_hwaje {
  background: red;
}

.divTable .gi_none {
  background: purple;
}

.ar {
  text-align: right !important;
}

#tabWrap {
  text-align: center;
}

#tabWrap #tab,
#tabWrap #opgtab {
  display: inline-block;
  margin: 0 auto;
}

#tabWrap #tab li,
#tabWrap #opgtab li {
  float: left;
  min-width: 110px;
  line-height: 26px;
  margin-left: -1px;
}

#tabWrap #tab li a,
#tabWrap #opgtab li a {
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid #222222;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5a59), to(#4c4847));
  background: linear-gradient(180deg, #5b5a59 0%, #4c4847 100%);
  color: #bbbbbb;
  text-align: center;
  letter-spacing: -1px;
}

#tabWrap #tab li a.on,
#tabWrap #opgtab li a.on {
  background: -webkit-gradient(linear, left top, left bottom, from(#f93e3e), to(#de2828));
  background: linear-gradient(180deg, #f93e3e 0%, #de2828 100%);
  color: #ffffff;
}

#tabWrap #tab li a:hover,
#tabWrap #opgtab li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f93e3e), to(#de2828));
  background: linear-gradient(180deg, #f93e3e 0%, #de2828 100%);
  color: #ffffff;
}

#tabWrap #tab li:first-child a,
#tabWrap #opgtab li:first-child a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#tabWrap #tab li:last-child a,
#tabWrap #opgtab li:last-child a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#tabWrap #content {
  position: relative;
  width: 100%;
}

#tabWrap .bodyContent {
  position: relative;
  width: 100%;
}

#tabWrap .bodyContent .content__div {
  page-break-inside: avoid;
  page-break-after: auto;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  min-height: 400px;
  margin-top: 10px;
  padding: 0;
  text-align: left;
}

.darkBox {
  page-break-inside: avoid;
  page-break-after: auto;
  padding: 10px;
  background: #333333;
  border: 1px solid #222222;
}

.darkBox h5 {

  padding-bottom: 10px;
  font-size: 18px;
  color: #bbbbbb;
  font-weight: 600;
  margin-bottom: 8px;
  border-bottom: 1px solid #222222;
}

.darkBox h5 .subTitle {
  font-size: 13px;
  color: #777777;
  display: inline-block;
  margin-left: 10px;
}

.darkBox+.darkBox {
  margin-top: 10px;
}

.darkBox02 {
  padding: 10px;
  background: #555555;
  border: 1px solid #222222;
}

.darkBox02 h5 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #bbbbbb;
  margin-bottom: 8px;
  border-bottom: 1px solid #222222;
}

.darkBox02.cate01 {
  padding-left: 80px;
  background: url(../images/cate01.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate02 {
  padding-left: 80px;
  background: url(../images/cate02.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate03 {
  padding-left: 80px;
  background: url(../images/cate03.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate04 {
  padding-left: 80px;
  background: url(../images/cate04.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate05 {
  padding-left: 80px;
  background: url(../images/cate05.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate06 {
  padding-left: 80px;
  background: url(../images/cate06.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate07 {
  padding-left: 80px;
  background: url(../images/cate07.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate08 {
  padding-left: 80px;
  background: url(../images/cate08.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate09 {
  padding-left: 80px;
  background: url(../images/cate01.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate10 {
  padding-left: 80px;
  background: url(../images/cate08.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate11 {
  padding-left: 80px;
  background: url(../images/cate08.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate12 {
  padding-left: 80px;
  background: url(../images/cate12.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate13 {
  padding-left: 80px;
  background: url(../images/cate13.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate14 {
  padding-left: 80px;
  background: url(../images/cate14.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate15 {
  padding-left: 80px;
  background: url(../images/cate15.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate16 {
  padding-left: 80px;
  background: url(../images/cate16.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate17 {
  padding-left: 80px;
  background: url(../images/cate17.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate18 {
  padding-left: 80px;
  background: url(../images/cate18.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate19 {
  padding-left: 80px;
  background: url(../images/cate19.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate20 {
  padding-left: 80px;
  background: url(../images/cate20.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate21 {
  padding-left: 80px;
  background: url(../images/cate21.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate22 {
  padding-left: 80px;
  background: url(../images/cate22.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate23 {
  padding-left: 80px;
  background: url(../images/cate23.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate24 {
  padding-left: 80px;
  background: url(../images/cate24.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate25 {
  padding-left: 80px;
  background: url(../images/cate25.png) 15px 10px no-repeat, #555555;
}

.darkBox02.cate26 {
  padding-left: 80px;
  background: url(../images/cate26.png) 15px 10px no-repeat, #555555;
}

.darkBox02 .col3 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.darkBox02 .col4 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.darkBox02 .col5 {
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.darkBox02 .col1 li {
  display: block;
  width: 100%;
  padding: 5px;
}

.darkBox02 .col3 li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  width: 33.3333%;
  padding: 5px;
}

.darkBox02 .col3 li+li {
  border-left: 1px solid #222222;
}

.darkBox02 .col4 li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  width: 25%;
  padding: 5px;
}

.darkBox02 .col4 li+li {
  border-left: 1px solid #222222;
}

.darkBox02 .col5 li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  width: 25%;
  padding: 5px;
}

.darkBox02 .col5 li+li {
  border-left: 1px solid #222222;
}

.darkBox02+.darkBox02 {
  margin-top: 10px;
}

.darkBox02 .number {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 49px;
  text-align: center;
  background: #222222;
  border-radius: 3px;
  color: #bbbbbb;
  font-size: 30px;
  font-weight: 900;
}

.darkBox02 .sep {
  display: block;
  color: #979797;
  font-size: 14px;
}

.dlType01 {
  overflow: hidden;
}

.dlType01 dt {
  width: 122px;
  margin-right: 20px;
  float: left;
  color: #777777;
}

.dlType01 dd {
  color: #bbbbbb;
  float: right;
  width: calc(100% - 142px);
}

.dlType01+.dlType01 {
  margin-top: 8px;
}

.dlType02 {
  overflow: hidden;
}

.dlType02 dt {
  text-align: right;
  width: 50px;
  margin-right: 10px;
  float: left;
  color: #979797;
}

.dlType02 dd {
  color: #bbbbbb;
  float: right;
  width: calc(100% - 70px);
}

.dlType03 {
  overflow: hidden;
}

.dlType03 dt {
  text-align: center;
  color: #979797;
}

.dlType03 dd {
  text-align: center;
  color: #bbbbbb;
  font-weight: bold;
}

.bulletList {
  overflow: hidden;
}

.bulletList li {
  float: left;
  color: #979797;
  padding-left: 20px;
  background: url(../images/check.png) left 3px no-repeat;
  letter-spacing: -1px;
}

.bulletList li.on {
  color: #bbbbbb;
  background: url(../images/check_on.png) left 3px no-repeat;
}

.bulletList.col1 li {
  width: 100%;
}

.bulletList.col3 li {
  width: 32%;
}

.bulletList.col4 li {
  width: 25%;
}

.bulletList.follow li {
  margin-right: 15px;
}

.floorInfo {
  overflow: hidden;
  display: block;
  width: 100%;
  border-bottom: 1px solid #333333;
}

.floorInfo dt {
  float: left;
}

.floorCnt {
  width: 90px;
  height: 80px;
  background: #333333;
  color: #bbbbbb;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  font-weight: 900;
}



.floorStoreBeups {
  min-height: 29px;
}

.floorInfo dd {
  float: right;
  width: calc(100% - 90px);
  height: 80px;
  padding: 5px;
  color: #979797;
}

.floorInfo .shoplist li {
  float: left;
}

.floorInfo .shoplist li+li {
  margin-left: 15px;
}

.floorInfo.active {
  border-bottom: 1px solid #f93e3e;
}

.floorInfo.active dt {
  /*   background: #f93e3e;
  color: #ffffff; */
}

.floorInfo.active a {
  background: #f93e3e;
  color: #ffffff;
}

.floorInfo+.floorInfo {
  margin-top: 5px;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexBox li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 5px;
}

.flexBox li>img {
  float: left;
  margin-right: 10px;
}

.flexBox span {
  display: block;
}

.flexBox.pd0 li {
  padding: 0;
}

.flexBox.pd0 li span {
  float: left;
}

.flexBox.pd0 li span+span {
  margin-left: 8px;
}

.lightgray {
  color: #d7d9db;
}

.darkgray {
  color: #979797;
}

.withIcon {
  overflow: hidden;
}

.withIcon li {
  float: left;
}

.withIcon li span {
  display: block;
}

.withIcon .leftimg {
  width: calc(100% - 47px);
}

.withIcon .iconimage {
  width: 50px;
  margin-right: 15px;
}

.withIcon .iconimage+li {
  width: calc(100% - 65px);
}

.withIcon .iconimage2 {
  width: 32px;
  margin-right: 15px;
}

.withIcon .time {
  float: right;
}

.ft16 {
  font-size: 16px !important;
}

span.status {
  display: block;
  /*   width: 60px; */
  padding: 0 5px;
  margin-top: 4px;
  margin-bottom: 8px;
  height: 25px;
  line-height: 19px;
  font-size: 11px;
  text-align: center;
  border-radius: 3px;
}

span.status.status01 {
  background: #49cc90;
  color: #ffffff;
}

span.status.status02 {
  background: #fca130;
  color: #ffffff;
}

span.status.status03 {
  background: #666666;
  color: #999999;
}

.accordion {
  list-style: none;
  padding: 0;
}

.accordion .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

.accordion .inner.show {
  /*display: block;*/
}

.accordion li {
  margin: 10px 0 0 0;
}

.accordion li a.toggle {
  width: 100%;
  display: block;
  background: rgba(34, 34, 34, 0.7);
  color: #bbbbbb;
  padding: 0.75em;
  border-radius: 0.15em;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.accordion li a.toggle:hover {
  background: rgba(34, 34, 34, 0.9);
}

.accordion .bulletList>li {
  margin: 0 0 5px 0;
}

.accordion h6.tag {
  display: inline-block;
  padding: 3px;
  font-size: 11px;
  border-radius: 3px;
  border: 1px solid #555555;
}

.resultBtn {
  display: block;
  width: 100%;
  line-height: 29px;
}

.resultBtn>span {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 8px;
}

.resultBtn ul {
  display: inline-block;
}

.resultBtn ul li {
  float: left;
  margin-left: -2px;
  border: 1px solid #222222;
  min-width: 60px;
  padding: 0 8px;
  height: 30px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  font-size: 13px;
  background: #555555;
}

.resultBtn ul li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.resultBtn ul li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.resultBtn ul li.good.on {
  background: #4EB955;
  color: #ffffff;
}

.resultBtn ul li.bad.on {
  background: #B94E4E;
  color: #ffffff;
}

.resultBtn ul li.none.on {
  background: #656565;
  color: #ffffff;
}

.resultBtn:after {
  content: '';
  display: block;
  clear: both;
}

/*# sourceMappingURL=layout_popup.css.map */

.layerPopupOpt {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999
}

.layerPopupOpt:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #313030;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -1;
}

.layerPopupOpt .lp_wrap {
  position: absolute;
  background: #fff;
  padding: 0;
  margin: 0;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.layerPopupOpt .pop_tit {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #444;
  height: 50px;
  box-sizing: border-box
}

.layerPopupOpt .pop_tit h3,
.layerPopupOpt .pop_tit h4 {
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  display: inline-block
}

.layerPopupOpt .pop_tit h3 {
  font-size: 30px;
  line-height: 47px;
  background: none;
  padding: 0
}

.layerPopupOpt_Lv2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999
}

.lp_wrap .pop_tit .close:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("/dwapi/images/pop_close.png") no-repeat;
}

.lp_wrap .pop_tit .close {
  font-size: 0;
  text-indent: -999px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.pop_tit .close:before {
  right: 11px;
  top: 16px;
}

.pop_tit a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.wid_576 {
  width: 576px !important;
}

.wid_800 {
  width: 800px !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mt_10 {
  margin-top: 10px !important;
}

.box_area {
  position: relative;
  display: flex;
}

.al_center {
  text-align: center !important;
}

.box_area .half_80 {
  flex: 1.5;
}

.btn_st {
  display: inline-block;
}

.btn_st a {
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  color: #fff;
}

.btn_red1 {
  background: #bd1919;
  border: solid 1px #bd1919;
  color: #fff;
}

.ser_box {
  background: #f2f2f2;
  border: solid 1px #dfdfdf;
  padding: 10px;
}

.opg_popupWrap {
  zoom: 0.9;
  position: fixed;
  left: 0;
  top: 21px;
  width: 100%;
  height: 100%;
}

.opg_popupWrap:after {
  position: relative;
  content: '';
}

.opg_popupBox {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #979797;
  border-radius: 8px;
}

.opg_popupBox.style1 {
  width: 805px;
  height: 100%;
  /* height: 1000px; */
  /*     width: 595px;
    height: 842px; */
}

.opg_popupBox.style1 .popupBox__content {
  height: 800px;
  padding: 0px;
  /*   padding: 15px; */
}

.opg_popupBox__top h3 {
  font-size: 18px;
  color: black;
  padding: 24px 0 0 20px;
}

.opg_content__div .dlType01 dd {
  color: black;
  float: right;
  width: calc(100% - 90px);
}

.opg_content__div .dlType01 dt {
  width: 80px;
  margin-right: 0px;
  float: left;
  color: #777777;
}

.opgBox {
  padding: 10px;
  text-align: left;
}


.opgBox h5 {
  padding-bottom: 5px;
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin-bottom: 3px;
  border-bottom: 1px solid #529CF0;
  /*  border-bottom: 1px solid #222222; */
}

#tabWrap .bodyContent .opg_content__div {
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 100%;
  min-height: 60px;
  padding: 0;
  text-align: left;
}

.wrapThumb .scrollCont .scrollbar .track .thumb {
  background: white;
  border-radius: 20px;
  height: 20px;
  width: 10px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 5px;
  z-index: -1;
}

.popupBox__right .buildingname {
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 900;
  border-left: 6px solid #f93e3e;
  color: #bbbbbb;
}

.opg_popupWrap .popupBox__content .popupBox__left {
  width: 60%;
  float: left;
  padding-right: 3px;
  /* border-right: 1px solid #222222; */
}

.opg_popupWrap .popupBox__content .popupBox__right {
  width: 40%;
  height: 1000px;
  float: left;
  padding-left: 20px;
  border-left: 1px solid #222222;
}


.solidBox {
  border: 1px solid #222222;
}

.solidBox .col3 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solidBox .col3 li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  width: 33.3333%;
  padding: 3px;
}

#scrollbar_opgLeft {
  width: 100%;
  margin-bottom: 10px;
}

#scrollbar_opgLeft .viewport {
  /* width: calc(100% - 20px); */
  width: calc(100% - 15px);
  height: 920px;
  overflow: hidden;
  position: relative;
}

#scrollbar_opgRight {
  width: 100%;
  margin-bottom: 10px;
}

#scrollbar_opgRight .viewport {
  /* width: calc(100% - 20px); */
  width: 92%;
  height: 622px;
  overflow: hidden;
  position: relative;
}

.dlOpg {
  overflow: hidden;
}

.dlOpg dd {
  color: black;
  float: right;
  width: calc(100% - 90px);
}

.dlOpg dt {
  width: 80px;
  margin-right: 0px;
  float: left;
  color: #777777;
}



.dlOpg+.dlOpg {
  margin-top: 3px;
}

#tabWrap .floorInfo dt {
  float: left;
  width: 50px;
  height: 50px;
  background: white;
  color: #bbbbbb;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  font-weight: 900;
}


#tabWrap .floorInfo dd {
  float: right;
  width: calc(100% - 50px);
  height: 50px;
  padding: 10px;
  color: #979797;
}

.researchLi {
  color: black;
  background-color: mistyrose;
}

.borderBt_1px {
  border-bottom: 1px solid;
}

.elevatorTh {
  color: black;
  border-right: 0.5px solid black;
}

.elevatorTd {
  color: black;
  border-right: 0.5px solid black;
  text-align: center;
}

.opg_floorStoreBeups {
  vertical-align: top;
  color: #00CCFF;
  font-size: 10px;
}

.opg_floorInfo {
  overflow: hidden;
  display: block;
  width: 100%;
  border-bottom: 1px solid #333333;
}

.opg_floors {
  float: left;
  width: 50px;
  height: 40px;
  background: white;
  color: #bbbbbb;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  font-weight: 900;
}

.opg_floorInfo dt {
  float: left;
  margin-right: 3px;
}


.opg_popupBox__top .buildingname {
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 900;
  border-left: 6px solid #f93e3e;
  color: #bbbbbb;
}

/* background-image: url('../images/bd1.png');
	background-repeat: no-repeat;
	background-size: contain; */
#buildingBg {
  width: 281px;
  padding: 10px;
  margin-top: 23px;
  height: 651px;
}

.scrollTopBottomDiv {
  margin-left: 54px;
  width: 180px;
  margin-top: 16px;
}

.popTableth {
  height: 22px;
  border: 1px solid #222222;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5a59), to(#4c4847));
  background: linear-gradient(180deg, #5b5a59 0%, #4c4847 100%);
  color: #bbbbbb;
  text-align: center;
  letter-spacing: -1px;
}

.popTabletd {
  border: 1px solid;
  text-align: center;
}

.popTabletr {
  background-color: white;
}

#grid table {
  border-collapse: collapse;
  width: 100%;
}

#grid table thead {
  float: left;
  width: 500px;
  display: table;
}

#grid table tbody {
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  width: 500px;
  height: 215px;
}

#grid table tbody tr {
  display: table;
  width: 500px;
}

/* .dangerDl{
	border-bottom: 1px solid #222222;
}
 */
.optDanger dt {
  width: 135px;
}

.optDanger dd {
  width: calc(100% - 140px);
}